<html>
<head>
	<title>uWhere</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style>
		html, body {
			height: 100%;
			margin: 0;
			padding: 0;
		}
		#wrapper{
			margin: 0px auto;
		}
		#map {
			height: 500px;
			width: 700px;
			border-radius: 10px;
			margin-top: 60px;
		}
		#map, #send{
			display: inline-block;
		}
		#send{
			vertical-align: top;
		}
		#chat{
			vertical-align: top;
		}
		#hello{
			margin-top: 80px;
		}
		  .navbar{
		  	background-color: #323C46;
 		}
	</style>
	<script>
		function initMap() {
			var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 13,
			center: {lat: 37.377135, lng: -121.912156}
		});
		}
   </script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATY80d4ELnJe4PtJPCe1_pzErvrOMRAJA&callback=initMap&signed_in=true" async defer>
	</script>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-fixed-top">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			</button>
			<a class="navbar-brand" href="/">uWhere</a>
		</div>
		<div class="container">
			<button type="button" class="btn btn-default navbar-btn navbar-right"><a href="/logout">Logout</a></button>
		</div>
		</nav>
		<div id="hello">
			<h1>Hello {{session['name']}}!</h1>
		</div>
		<div id="map"></div>
		<div id="send">
			<h3>Friend's Phone Numbers:</h3>
			<form action="">
				<input type="text" name="numbers" placeholder="Phone numbers">
				<textarea cols="50" rows="10" placeholder=""></textarea>
				<input type="submit" value="Send to Friends">
			</form>
		</div>
		<div id="location">
			<h3>Location:</h3>
			<form action="">
				<textarea cols="50" rows="10"></textarea>
				<input type="submit" value="Add Destination">
			</form>
		</div>
		<div id="past">
			<h1>Past Destinations</h1>
			<table class="table table-hover">
				<tr>
					<th>Meeting Spot</th>
					<th>Meet Creator</th>
					<th>Meet Date</th>
				</tr>
			</table>
		</div>
	</div> <!-- end of wrapper -->
</body>
</html>